{% extends "blog/base.html" %}

{% block content %}
	{% if formulario.errors %}
		<p>{{ formulario.errors }}</p>
	{% endif %}
	<form class="form-horizontal" id="registro" method="POST">
		{% csrf_token %}
	  <fieldset>
	    <div id="legend">
	      <legend class="">Registro</legend>
	    </div>
	    <div class="control-group">
	      <!-- Username -->
	      <label class="control-label"  for="{{formulario.username.id_label}}">Nombre de usuario</label>
	      <div class="controls">
	        {{formulario.username}}
	        <p class="help-block">El nombre de usuario puede contener número o letras, sin espacios</p>
	      </div>
	    </div>
	    <div class="control-group">
	      <!-- Username -->
	      <label class="control-label"  for="{{formulario.nombre.id_label}}">Nombre</label>
	      <div class="controls">
	        {{formulario.nombre}}
	      </div>
	    </div>
	 	<div class="control-group">
	      <!-- Username -->
	      <label class="control-label"  for="{{formulario.apellidos.id_label}}">Apellidos</label>
	      <div class="controls">
	        {{formulario.apellidos}}
	      </div>
	    </div>
	    <div class="control-group">
	      <!-- E-mail -->
	      <label class="control-label" for="{{formulario.email.id_label}}">E-mail</label>
	      <div class="controls">
	        {{formulario.email}}
	      </div>
	    </div>
	 
	    <div class="control-group">
	      <!-- Password-->
	      <label class="control-label" for="{{formulario.password1.id_label}}">Password</label>
	      <div class="controls">
	        {{formulario.password1}}
	        <p class="help-block">La contraseña debe tener al menos 8 caracteres</p>
	      </div>
	    </div>
	 
	    <div class="control-group">
	      <!-- Password -->
	      <label class="control-label"  for="{{formulario.password2.id_label}}">Password (Confirm)</label>
	      <div class="controls">
	       {{formulario.password2}}
	        <p class="help-block">Repita la contraseña</p>
	      </div>
	    </div>
	 
	    <div class="control-group">
	      <!-- Button -->
	      <div class="controls">
	        <button class="btn btn-default">Registrarse</button>
	      </div>
	    </div>
	  </fieldset>
</form>
	
{% endblock %}